<div id="profile-detail">
    <!-- Header -->
    <c-ui.header title="Detalles del Perfil" description="Información personal de tu cuenta.">
        <c-slot name="icon">
            <c-ui.icon name="user" class="text-sm" />
        </c-slot>
        <c-ui.button_hx
            type="button"
            hx_get="{% url 'settings_profile_edit' %}"
            hx_target="#container-profile"
            hx_select="#profile-form"
            hx_swap="innerHTML"
            class="btn-primary"
            >
            <c-ui.icon name="user-edit" class="text-sm" />
            Editar Perfil
        </c-ui.button_hx>

        <c-ui.button_hx
            type="button"
            hx_get="{% url 'settings_password_change' %}"
            hx_target="#container-profile"
            hx_select="#password-change-form"
            hx_swap="innerHTML"
            class="btn-primary">
            <c-ui.icon name="key" class="text-sm" />
            Cambiar Contraseña
        </c-ui.button_hx>
    </c-ui.header>

    <!-- Info Card -->
    <div class="bg-white dark:bg-brandBg border border-slate-200 dark:border-brandHover rounded-2xl p-4 max-w-sm">
        <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
            <!-- Nombre Completo -->
            <div>
                <span class="block text-[10px] uppercase font-bold text-slate-400 dark:text-brandMuted/50 tracking-wider">Nombre Completo</span>
                <span class="text-xs font-semibold text-slate-800 dark:text-white mt-1.5 block">
                    {{ user.get_full_name|default:"--" }}
                </span>
            </div>

            <!-- Nombre de Usuario -->
            <div>
                <span class="block text-[10px] uppercase font-bold text-slate-400 dark:text-brandMuted/50 tracking-wider">Nombre de Usuario</span>
                <span class="text-xs font-semibold text-slate-800 dark:text-white mt-1.5 block">
                    {{ user.username|default:"--" }}
                </span>
            </div>

            <!-- Correo Electrónico -->
            <div>
                <span class="block text-[10px] uppercase font-bold text-slate-400 dark:text-brandMuted/50 tracking-wider">Correo Electrónico</span>
                <span class="text-xs font-semibold text-slate-800 dark:text-white mt-1.5 block">
                    {{ user.email|default:"--" }}
                </span>
            </div>
        </div>
    </div>
</div>