{% extends 'base.html' %}
{% load static %}

{% block breadcrumbs %}
{% include 'subscriptions/partials/_breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="plans"
    x-data="{ billingCycle: 'MONTHLY', showDepositModal: {% if open_modal %}true{% else %}false{% endif %}, selectedPlanId: '{{ form.plan.value|default:'' }}' }"
    class="space-y-2">

    <!-- Header Principal -->
    <c-ui.header title="Planes y Suscripciones"
        description="Selecciona el plan ideal para tu negocio o gestiona tu suscripción actual.">
        <c-slot name="icon">
            <c-ui.icon name="shopping-cart" class="text-sm" />
        </c-slot>
        <c-ui.button type="button" class="btn-confirm">
            <c-ui.icon name="brand-whatsapp" class="text-sm" />
            Contáctanos
        </c-ui.button>
    </c-ui.header>


    <!-- Tabla de Planes -->
    <div id="container-plans">
        <c-table.header title="Planes Disponibles"
        description="Accede a más capacidad de peticiones mensuales. Ahorra hasta un 20% reservando la opción de pago anual."/>

        {% include 'subscriptions/partials/_plans_table.html' %}
    </div>
</div>
{% endblock %}