{% extends 'base.html' %}

{% block content %}
<div class="space-y-6" id="container-profile">
    <form method="post" action="{% url 'settings_profile_edit' %}" class="max-w-sm" id="profile-form"
        hx-post="{% url 'settings_profile_edit' %}"
        hx-target="#container-profile"
        hx-swap="innerHTML">
        {% csrf_token %}
        <c-ui.header title="Editar Información" description="Actualiza tus detalles personales y de contacto.">
            <c-slot name="icon">
                <c-ui.icon name="user-edit" class="text-sm" />
            </c-slot>
        </c-ui.header>

        <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
            <c-ui.input name="first_name" label="Nombre" value="{{ form.first_name.value|default:'' }}"
                :errors="form.first_name.errors" placeholder="Ej. Juan" />

            <c-ui.input name="last_name" label="Apellidos" value="{{ form.last_name.value|default:'' }}"
                :errors="form.last_name.errors" placeholder="Ej. Pérez" />
        </div>

        <div class="pt-2 flex justify-end gap-3">
            <c-ui.button_hx
                type="button"
                hx_get="{% url 'settings_profile' %}"
                hx_target="#container-profile"
                hx_select="#profile-detail"
                hx_swap="innerHTML"
                class="btn-ghost">
                Cancelar
            </c-ui.button_hx>
            
            <c-ui.button
                type="submit"
                class="btn-confirm">
                Guardar Cambios
            </c-ui.button>
        </div>
    </form>
</div>
{% endblock %}
